body {
    overflow-x: hidden;
}
.banner {
    position: relative;
    background: linear-gradient(rgba(242, 89, 206, 0.5), rgb(29, 26, 26)), url('/src/Images/Header1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}
.logo{
    width: 320px;
    position: absolute;
    top: 6%;
    left: 10%;
}
.bannerText{
    text-align: center;
    color: white;
    padding-top: 250px;
}
.bannerText h1{
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-size: 50px;
    font-weight: 700;
    font-style: normal;
}
.bannerText p{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
.banner-btn{
    margin: 70px;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: white;
    font-weight: 300;
    border: .5px solid white;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover {
    color: black;
}
.side-Nav{
    width: 120px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}
.offcanvas{
    background:rgb(192, 112, 167);
}
.side-Nav nav ul li{
    list-style: none;
    margin: 50px 20px;
}
.side-Nav nav ul li a{
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    color: black;
}
#btn{
    width: 50px;
    height: 50px;
    background-color: #0c0c0c;
    text-align: center;
    position: fixed;
    right: 25px;
    top: 20px;
    border-radius: 3px;
    /* z-index: 3; */
    cursor: pointer;
}
@media screen and (max-width:770px){
     .logo{
        width: 280px;
        position: absolute;
        top: 2%;
        left: 4%;
    }
    .banner-btn{
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 40px;
    }
    .banner-btn a{
        margin: 10px;
    }
    .bannerText h1{
        font-size: 47px;
        font-weight: 600;
    }
    .bannerText p{
        font-size: 15px;
        font-weight: 200;
    }
}


/* about */
.about{
    background-color: white;
}
.about-text{
    text-align: center;
    padding-top: 60px;
}
.about-text p{
    margin: auto;
    font-size: 20px;
    color: rgb(195, 99, 165);
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.about-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(rgb(192, 112, 167),white);
    position: absolute;
    top: -20px;
    /* left: 0; */
    z-index: -1;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.about-text h1{
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    margin-bottom: 60px;
}
.about-img{
    width: 100%;
    height: 500px;
    background: 
    linear-gradient(rgba(242, 69, 193, 0.5), rgba(107, 98, 98, 0.5)),
        url('../Images/chair3.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    margin-right: 50px;
    border-radius: 20px;
}
.row{
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    margin-top: 5%;
}
.left-col{
    flex-basis: 40%;
}
.right-col{
    flex-basis: 55%;
}
.right-col h1{
    color: rgb(195, 99, 165);
    font-size: 55px;
    font-family: "Edu VIC WA NT Beginner";
}
.right-col p{
    color: #777;
    margin: 20px 0 70px;
}
@media screen and (max-width:1024px){
    .left-col{
        flex-basis: 100%;
    }
    .right-col{
        flex-basis: 100%;
        margin-top: 30px;
    }
    .right-col h1{
        font-size: 35px;
        text-align: center;
    }
    .row{
    padding: 10%;
    margin: auto;  
}
    
}


/* services */
.service{
    width: 100%;
    padding: 70px 0;
    background: rgb(57, 50, 50);
}
.title-text{
    text-align: center;
    padding-top: 20px;
    color: white;
}
.title-text p{
    margin: auto;
    padding-bottom: 10px;
    font-size: 20px;
    color: rgb(195, 99, 165);
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(rgb(192, 112, 167),white);
    position: absolute;
    top: -24px;
    z-index: -1;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    margin-bottom: 70px;
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),rgb(192, 112, 167));
    opacity: 0;
    transition: 1s;
}
.single-service:hover .overlay{
    opacity: 1;
}
.service-discription{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-discription p{
    font-size: 14px;
}
.single-service:hover .service-discription{
    bottom: 25%;
    opacity: 1;
}
@media screen and (max-width:770px){
    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .service-discription p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .single-service:hover .service-discription{
        bottom: 25% !important;
    }
}

