.nav-link {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #f0f0f0;
}

.navbar-brand img {
    width: 160px;
    height: 55px;
    padding-left: 40px;
}


.logout-button {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.logout-button:hover {
    background-color: orange;
    color: black;
    transform: scale(1.05);
}